<div class="auth-form">
  <div class="page-header">
    <h1>Welcome back</h1>
    <p class="right">Haven't an account? <%= link_to "Sign Up", root_path %></p>
  </div>
  <%= render :partial => 'form' %>
</div>
