<div class="auth-form">
  <div class="page-header">
    <h1>Enter a name or nickname</h1>
    <p class="right">Already in? <%= link_to "Sign In", signin_path %></p>
  </div>
  <%= render :partial => 'form' %>
</div>
