<h1>Git Tutal : Création d'un bot</h1>

<h3>Pré-requis</h3>

<p>
  Vous allez devoir récupérer les sources du bot IRC, disponibles à l'adresse suivante : <a href="https://github.com/skelz0r/GitTutalBot">https://github.com/Skizzk/GitTutalBot</a><br />
  Pour cela : <code>git clone https://github.com/Skizzk/GitTutalBot.git</code>
</p>

<p>
  Ensuite, je vous invite à lire un peu le <a href="https://github.com/skelz0r/GitTutalBot/blob/master/README.md">RIDIME</a><br />
  Et ensuite, rendez-vous sur <%= link_to "la liste des fonctionnalités", features_path %> pour choisir une fonctionnalité à implémenter !
</p>
