//= require_tree .
//= require_self

// Layout
footer.last {

	padding: 10px;

	p {
		float: right;
	}
}

.alert {
	li { list-style-type: none; }
}

div.navbar {
	ul.nav.right {
		float: right;
	}
}

.green {
	color: green;
}

.red {
	color: red;
}

// Authentication blocks : signin & signup
div.auth-form {
	margin: auto;
	width: 600px;
	
	h1 {
		text-align: center;
	}

	p.right {
		float: right;
		margin-top: 15px;
	}
}

// Admin
div.admin {
	&.users {
		width: 600px;
		margin: auto;
	}
}
